{% extends 'base.html'%}

{% block pagetitle%}Home - Inventory Management system{% endblock %}

{% block csslinks%}
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{%endblock%}


{% block content%} 
<div class="container"> <!--Container Start-->
  <div class="row"> <!--Row Start-->
      <div class="col-9"> <!--First Col Start-->
        <H2>Users</H2>
      </div> <!--First Col End-->

  </div> <!--Row End-->
</div> <!--Container End-->




{% endblock%}



{% block jslinks%}
<script>// Bar chart
  new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
          data: [2478, 5267, 734, 784, 433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
  });</script>

<script>new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
        data: [2478, 5267, 734, 784, 433]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
  });</script>
{% endblock %}
