<div class="container">

    <div class="col" > <!--Start Col1-->
        <div class="list-group"> <!--Start of List group Div-->
    
            <a href="{{url_for('dashboard')}}" class="list-group-item list-group-item-action active" aria-current="true">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>
    
    
            <a href="{{url_for('inventories')}}" class="list-group-item list-group-item-action">
                <i class="fas fa-dolly-flatbed"></i>Inventories
            </a>
            
    
            <a href="{{url_for('stock')}}" class="list-group-item list-group-item-action">
                <i class="fas fa-boxes"></i>  Stock
            </a>
            
    
            <a href="{{url_for('sales')}}" class="list-group-item list-group-item-action">
                <i class="fas fa-coins"></i>  Sales
            </a>
    
    
            <a href="{{url_for('users')}}" class="list-group-item list-group-item-action">
                <i class="fas fa-user-alt"></i>  User
            </a>
            
    
          </div> <!--End of List group Div-->
    </div> <!--End Col 1-->

</div>